Class in object oriented programming

In [2]:
a = 23
print(type(a))

<class 'int'>

In [3]:
b = -45
print(type(b))

<class 'int'>

In [4]:
c = 24.59
print(type(c))

<class 'float'>

In [5]:
d = [4, 5, 6, 7]
print(type(d))

<class 'list'>

Dataframe attributes and methods

In [6]:
s = {
    "roll_no": [103, 104, 105],
    "name": ["Rahul", "Raman", "Aditi"],
    "marks": [78.3, 84.5, 88.9],
    "hobbies": ["Singing", "Acting", "Cricket"]
}
print(type(s))

<class 'dict'>

In [8]:
import pandas as pd

df = pd.DataFrame(s)

df

   roll_no   name  marks  hobbies
0      103  Rahul   78.3  Singing
1      104  Raman   84.5   Acting
2      105  Aditi   88.9  Cricket

In [9]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

Dataframe Attributes

df.columns

df.index

df.values

df.shape

df.dtypes

df.size

In [10]:
df.columns

Index(['roll_no', 'name', 'marks', 'hobbies'], dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
df.values

array([[103, 'Rahul', 78.3, 'Singing'],
       [104, 'Raman', 84.5, 'Acting'],
       [105, 'Aditi', 88.9, 'Cricket']], dtype=object)

In [13]:
df.shape

(3, 4)

In [14]:
df.shape

(3, 4)

In [15]:
df.dtypes

roll_no      int64
name        object
marks      float64
hobbies     object
dtype: object

In [16]:
df.size

12

Methods of class dataframe
1. df.info()
2. df.sort_values()
3. df.groupby()
4. df.sum()

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   roll_no  3 non-null      int64
 1   name     3 non-null      object
 2   marks    3 non-null      float64
 3   hobbies  3 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 228.0+ bytes

In [18]:
df.sort_values(by="marks", ascending=False)

   roll_no   name  marks  hobbies
2      105  Aditi   88.9  Cricket
1      104  Raman   84.5   Acting
0      103  Rahul   78.3  Singing

In [19]:
df["marks"].sum()

np.float64(251.70000000000002)

In [20]:
df["marks"].mean()

np.float64(83.9)

In [21]:
df.describe()

       roll_no      marks
count      3.0   3.000000
mean     104.0  83.900000
std        1.0   5.325411
min      103.0  78.300000
25%      103.5  81.400000
50%      104.0  84.500000
75%      104.5  86.700000
max      105.0  88.900000

Create a class Person

      __init__ is constructor function used to define attritbutes

In [22]:
class Person:

    def __init__(self, name, age, gender, occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    def talk(self):
        print(f"My name is {self.name}")
        print(f"I am {self.age} years old")
        print(f"I am {self.gender}")
        print(f"I work as a {self.occupation}")

In [23]:
p1 = Person(name="Rahul", age=28, gender="male", occupation="Engineer")

In [24]:
p1

In [25]:
type(p1)

__main__.Person

    __main__ reffers to current working file in python

In [26]:
p1.name

'Rahul'

In [27]:
p1.age

28

In [28]:
p1.gender

'male'

In [29]:
p1.occupation

'Engineer'

In [30]:
p1.talk()

My name is Rahul
I am 28 years old
I am male
I work as a Engineer

In [31]:
p2 = Person(name="Aditi", age=25, gender="female", occupation="HR")

In [32]:
p2

In [33]:
type(p2)

__main__.Person

In [34]:
p2.name

'Aditi'

In [35]:
p2.age

25

In [36]:
p2.gender

'female'

In [37]:
p2.occupation

'HR'

In [39]:
p2.talk()

My name is Aditi
I am 25 years old
I am female
I work as a HR

In [40]:
p2.age

25

In [41]:
p2.age=26

In [42]:
p2.age

26

In [43]:
p2.occupation = "Data analyst"

In [44]:
p2.occupation

'Data analyst'

In [45]:
p2.talk()

My name is Aditi
I am 26 years old
I am female
I work as a Data analyst

# Create class using dataclasses

In [46]:
from dataclasses import dataclass

In [47]:
from typing import Literal

In [48]:
@dataclass
class Student:
    roll_no: int
    name: str
    marks: float
    gender: Literal["male", "female"]
    hobbies: list[str]

    def get_info(self):
        print(f"Student Roll number : {self.roll_no}")
        print(f"Name : {self.name}")
        print(f"Marks : {self.marks}")
        print(f"Gender : {self.gender}")
        print(f"Hobbies : {self.hobbies}")

In [49]:
s1 = Student(
    roll_no= 101,
    name= "Sarthak",
    marks= 73.5,
    gender= "male",
    hobbies= ["Singing", "Cricket"]
)

In [50]:
s1

Student(roll_no=101, name='Sarthak', marks=73.5, gender='male', hobbies=['Singing', 'Cricket'])

In [51]:
s1.roll_no

101

In [52]:
s1.marks

73.5

In [53]:
s1.name

'Sarthak'

In [54]:
s1.gender

'male'

In [55]:
s1.hobbies

['Singing', 'Cricket']

In [56]:
s1.marks = 75.4

In [57]:
s1

Student(roll_no=101, name='Sarthak', marks=75.4, gender='male', hobbies=['Singing', 'Cricket'])

In [58]:
s1.marks

75.4

In [59]:
s1.get_info()

Student Roll number : 101
Name : Sarthak
Marks : 75.4
Gender : male
Hobbies : ['Singing', 'Cricket']

In [60]:
s2 = Student(
    roll_no=102,
    name= "Aditi",
    marks = 95.4,
    gender="female",
    hobbies= ["Cycling"]
)

In [61]:
s2

Student(roll_no=102, name='Aditi', marks=95.4, gender='female', hobbies=['Cycling'])

In [62]:
s2.name

'Aditi'

In [63]:
s2.roll_no

102

In [64]:
s2.marks

95.4

In [65]:
s2.gender

'female'

In [68]:
s2.get_info()

Student Roll number : 102
Name : Aditi
Marks : 95.4
Gender : female
Hobbies : ['Cycling']

In [69]:
s2.hobbies

['Cycling']

# bank account

In [70]:
@dataclass
class Account:
    ac_no: int
    name: str
    bal: int | float

    def check_balance(self):
        print(f"Current balance in account {self.ac_no} is {self.bal:.2f} INR")
    
    def deposit(self, amt: int|float):
        self.bal = self.bal + amt
        print(f"Amount of {amt} INR Deposited in {self.ac_no}")

    def withdraw(self, amt: int|float):
        if self.bal < amt:
            raise ValueError("Insufficient Balance")
        else:
            self.bal = self.bal - amt
            print(f"Amount of {amt} INR Withdrawn from {self.ac_no}")

    def transfer(self, amt: int|float, ac: 'Account'):
        self.withdraw(amt)
        ac.deposit(amt)

In [71]:
a1 = Account(ac_no=1234, name="Suresh", bal=2000)
a1

Account(ac_no=1234, name='Suresh', bal=2000)

In [72]:
a1.ac_no

1234

In [73]:
a1.name

'Suresh'

In [75]:
a1.bal

2000

In [76]:
a1.check_balance()

Current balance in account 1234 is 2000.00 INR

Deposit

In [77]:
a1.deposit(800)

Amount of 800 INR Deposited in 1234

In [78]:
a1.bal

2800

In [79]:
a1.check_balance()

Current balance in account 1234 is 2800.00 INR

Withdraw

In [80]:
a1.withdraw(5000)

ValueError: Insufficient Balance

In [81]:
a1.check_balance()

Current balance in account 1234 is 2800.00 INR

In [82]:
a1.withdraw(650)

Amount of 650 INR Withdrawn from 1234

In [83]:
a1.check_balance()

Current balance in account 1234 is 2150.00 INR

Transfer

In [84]:
a2 = Account(ac_no=6789, name="Priya", bal=1200)
a2

Account(ac_no=6789, name='Priya', bal=1200)

In [85]:
type(a2)

__main__.Account

In [86]:
a1.check_balance()

Current balance in account 1234 is 2150.00 INR

In [89]:
a2.check_balance()

Current balance in account 6789 is 1200.00 INR

In [88]:
# a1 wants to transfer to a2
a1.transfer(3000, a2)

ValueError: Insufficient Balance

In [90]:
a1.check_balance()

Current balance in account 1234 is 2150.00 INR

In [91]:
a1.transfer(380, a2)

Amount of 380 INR Withdrawn from 1234
Amount of 380 INR Deposited in 6789

In [92]:
a1.check_balance()

Current balance in account 1234 is 1770.00 INR

In [93]:
a2.check_balance()

Current balance in account 6789 is 1580.00 INR

In [94]:
# a2 wants to transfer to a1
a2.transfer(800, a1)

Amount of 800 INR Withdrawn from 6789
Amount of 800 INR Deposited in 1234

In [95]:
a2.check_balance()

Current balance in account 6789 is 780.00 INR

In [96]:
a1.check_balance()

Current balance in account 1234 is 2570.00 INR